body {
  background-image: url(sun-pattern.png);
  font-family: Arial; sans-serif
}

#container {
  width: 800px;
  margin: 40px auto 80px;
  background-color:#49a2c14f;
  padding: 10px 50px 10px 50px;
  border-radius: 15px;
}

img {
  max-width: 30%;
  height: auto;
  float: right;
}

h1{
  font-size: 3em;
  border-bottom: 2px solid
}

h2{
  font-size: 1em;
  margin: auto
}

#content-summary{
  margin: 0 0 16px 0;
    padding: 0 0 32px 0;
    font-style: italic;
    font-size: 1.2em;
}

.header-section{
  font-size: 2em;
 
}

.date{
  float:right;
}

h3{
  border-bottom: 2px solid;
}
