body{
  border-radius: 25px;
  background-color: lightblue;
  padding: 5%
}

header{
  font-size:
}

article{
  padding: 2em
}

h1{
  text-align: center;
  font-size: 3em
}

#content-contact{
  font-size:
}

img {
  max-width: 20%;
  height: auto;
  float: right;
}
